@import "tailwindcss";

@utility torn-bottom {
  mask:
    url("/masks/masks.svg#section-bottom") repeat-x left bottom / 100% 80px,
    linear-gradient(to top, transparent 79px, black 80px);
  -webkit-mask:
    url("/masks/masks.svg#section-bottom") repeat-x left bottom / 100% 80px,
    linear-gradient(to top, transparent 79px, black 80px);
}

@utility torn-top {
  mask:
    url("/masks/masks.svg#section-top") repeat-x left top / 100% 80px,
    linear-gradient(to bottom, transparent 79px, black 80px);
  -webkit-mask:
    url("/masks/masks.svg#section-top") repeat-x left top / 100% 80px,
    linear-gradient(to bottom, transparent 79px, black 80px);
}

@utility btn-grunge {
  mask: url("/masks/masks.svg#button") no-repeat center / 100% 100%;
  -webkit-mask: url("/masks/masks.svg#button") no-repeat center / 100% 100%;
}

@theme {
  --color-orange: oklch(0.7022 0.2004 45.1);
  --color-charcoal: oklch(0.2178 0 0);
  --color-light: oklch(0.9407 0.0279 81.47);
  --color-red: oklch(0.3999 0.1641 29.23);

  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "Inter", sans-serif;
}
